/* Typography */

.display-1 {
    font-size: 34pt;
}

.display-2 {
    font-size: 45pt;
}

.display-3 {
    font-size: 56pt;
}

.display-4 {
    font-weight: 300;
    font-size: 112pt;
}

.headline {
    font-size: 24pt;
}

.title {
    font-weight: 500;
    font-size: 20pt;
}

.subheading {
    font-size: 16pt;
    line-height: 20pt;
}

.body-1 {
    font-weight: 500;
    font-size: 14pt;
}

.body-2 {
    font-size: 14pt;
}

.caption {
    font-size: 12pt;
}

.btn {
    font-weight: 500;
    font-size: 14pt;
    text-transform: uppercase;
}

.title, .subheading, .headline {
    color: rgba(0, 0, 0, .87);
}

.display-1, .display-2, .display-3, .display-4, .caption {
    color: rgba(0, 0, 0, .54);
}

.highlight-orange {
    background-color: rgba(255, 87, 34, .54);
    color: rgba(0, 0, 0, .87);
}

.white-text {
    color: #fff;
}